body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    padding: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
}

section {
    width: 90%;
    margin: 20px auto;
}

#jobTable {
    width: 100%;
    border-collapse: collapse;
}

#jobTable th,
#jobTable td {
    border: 1px solid white;
    padding: 8px;
}

#jobTable th {
    background-color: lightgray;
    text-align: left;
}